{% extends "base.html" %}

{% block inlinecss %}
	<link rel="stylesheet" href="/media/css/backbody.css">
{% endblock %}	
{% block navigation %}

{% endblock %}
{% block body %}

	   <!-- Contact Us -->
	   
	   <h1 id="demo-header">
	                    	Reelio Demo Login
	    </h1>
        <div class="contact-us-container">
        	<div class="container">
	            <div class="row">
	             <div class="col-sm-5">
	             </div>
	                <div class="col-sm-7 contact-form wow fadeInRight">
	                   
	                    <form id = "loginForm" role="form" action="" method="post">
	                      {% csrf_token %}
	                    	{% for field in loginForm %}
	                    	<div class="form-group">	                    			                   	                    			
	                    	<label>{{ field.label }}</label>	
	                    	<div class="errors"> {{ field.errors }}</div>
	                        	{{ field }}
	                        </div>
	                    	
	                    	{% endfor %}
	                  
	                        <button type="button" id= "login" class="btn">Login</button>
	                        <br /> <br /> <br />
	                        <a href="/login/signup"> New User ? Create Account</a>
	                    </form>
	                </div>
	          
	            </div>
	        </div>
        </div>
	

{% endblock %}

{% block inlinejs %}
 <script src="/media/js/customJs/login.js"></script>
{% endblock %}