{% extends "base.html" %}

{% block inlinecss %}
	<link rel="stylesheet" href="/media/css/backbody.css">
{% endblock %}

{% block navigation %}

{% endblock %}
{% block body %}
	   <!-- Contact Us -->
	   

  <h1 id="demo-header">
	                    	Reelio Demo Signup
	    </h1>
        <div class="contact-us-container">
        	<div class="container">
	            <div class="row">
	             <div class="col-sm-5">
	             </div>
	                <div class="col-sm-7 contact-form wow fadeInRight">
	                    
	                    <form role="form" action="" method="post">
	                    	
	                    	 {% csrf_token %}
	                    	{% for field in signupForm %}
		                    	<div class="form-group">	                    			                   	                    			
		                    		<label>{{ field.label }}</label>
		                    	<div class="errors"> {{ field.errors }}</div>
		                        	{{ field }}
		                        </div>
	                    	
	                    	{% endfor %}
	                      
	                        <button type="submit" class="btn">Create Account</button>
	                        <br /> <br /> <br />
	                        <a href="/login/"> Login Page</a>
	                        
	                    </form>
	                </div>
	          
	            </div>
	        </div>
        </div>
	
	

{% endblock %}
{% block inlinejs %}
 <script src="/media/js/customJs/createUser.js"></script>
{% endblock %}